form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(57, 62, 70);
    min-height: 500px;
}

.lb{
    padding:10px;
}

.btn{
    width: 100px;
}

form{
    height: 500px;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

form textarea {

    min-height: 100px;
    max-height: 100px;
    max-width: 400px;
    width: 300px;
    resize: vertical;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}